<h4 class="text-center my-4">SONGS</h4>

<div class="container">
  <div class="row justify-content-center g-4">
    <div class="col-md-4 col-lg-3" *ngFor="let i of cards">
      <div class="card h-100">
        <img [src]="i.image" class="card-img-top" height="250" />
        <div class="card-body">
          <h5 class="card-title">{{ i.title }}</h5>
          <p class="card-text">{{ i.text }}</p>
          <button
            class="btn btn-primary btn-sm"
            (click)="viewProductDetails(i)"
          >
            See More
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
